:root {
    --primary:#b6895b;
    --bg: #010101;
    --animate-delay: 0.5s;
    --animate-duration: 2s;

}

* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
    scroll-timeline: 3s;
}

body {
    background-color: var(--bg);
    color: #ffff;
}

/* kontainer navbar */
.navbar{
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0,0,0,0.2);
    border-bottom: 1px solid #513c28;
    padding: 15px 7rem 0 5rem; 
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.navbar .title{
    font-size: 2rem;
    font-weight: 700;
    color: whitesmoke;
    font-style: italic;
    margin-bottom: 1rem;
}

.navbar .title img {
    display: block;
    max-width: 230px;
    max-height: 20px;
    width: auto;
    height: auto;
}

.navbar .navbar-nav a {
    color: white;
    display: inline-block;
    font-size: 1.3rem;
    margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
    color: var(--primary);
}

.navbar .navbar-nav a::after {
    content: "";
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid var(--primary);
    transform: scaleX(0);
    transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
    transform: scaleX(0.5);
}

/* Home */
.home{
    min-height: 100vh;
    display: flex;
    position: relative;
    align-items: center;
    background-color: black;
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    /* background-position: center; */
}

.home content{
    padding: 1.4rem 7%;
    max-width: 50rem;
}

.home .content h1 {
    margin-left: 15rem;
    font-size: 4.5rem;
    color: whitesmoke;
    text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
    line-height: 1.2;
}

.home .content h1 span {
    color: var(--primary);
    display: inline-block;
}

.animate-text {
    display: inline-block;
    animation-duration: 1s;
    animation-fill-mode: both;
}

.animate-in {
    animation-name: animate__lightSpeedInLeft;
}

.animate-out {
    animation-name: animate__lightSpeedOutRight;
}

/* basic */
.about,.hobby,.skill {
    padding: 10rem 7% 1.4rem;
}

.about h2,.hobby h2,.skill h2 {
    text-align: center;
    font-size: 2.6rem;
    margin-bottom: 2rem;
    font-style: italic;
}

.about h2 span,.hobby h2 span,.skill h2 span {
    color: var(--primary);
}
/* About */
.about {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem, 1fr));
    gap: 1.5rem;
}

.about h2 {
    text-align: left;
}

.about .profile {
    padding-top: 7rem;
}

.about .profile p {
    padding: 5px 0px;
    font-size: large;
}

/* Hobby */
.hobby {
    text-align: center;
}

.hobby h3 {
    font-size: 1.5rem;
    font-weight: 600;
    padding-top: 20px;
}

.hobby .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.hobby .hobby-card {
    flex: 0 0 calc(33.33% - 20px);
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.hobby .hobby-card img {
    max-width: 100%;
    height: auto;
    border-radius: 20%;
}
/* skill */
.skill {
    margin-bottom: 5rem;
}
.skill-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
    grid-gap: 2rem;
    align-items: center;
    margin-top: 5rem;
    text-align: center;
    cursor: pointer;
}

.col {
    position: relative;
}

.col img {
    max-width: 100%;
    width: 550px;
    height: auto;
    object-fit: cover;
    border-radius: 12px;
}

.layer {
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 12px;
    transition: all 0.4s;
}

.layer:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.5) 0%, #191919);
}

.layer h3 {
    position: absolute;
    width: 100%;
    font-size: 25px;
    font-weight: 500;
    color: var(--bg-color);
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: all 0.4s;
}

.layer:hover h3 {
    bottom: 52%;
    opacity: 1;
}
/* footer */
footer {
    background-color: rgba(0,0,0,0.2);
    text-align: center;
    padding: 0.5rem 0 1rem;
    margin: 2rem 50px;
    border-radius: 20px;
    border-color: #b6895b;
    border-style: dotted;
}

footer .contact {
    margin-bottom: 0.5rem;
    padding: 5px;
}

footer .contact a:hover {
    transform: scale(1.1);
    background: var(--primary);
    transition: 0.5s;
}
footer .contact a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    color:aquamarine;
    padding: 0 15px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
}

footer .credit {
    font-size: 0.6rem;
    font-weight: 700;
}
